<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="/webjars/bootstrap/5.2.2/css/bootstrap.min.css">
</head>
<body>
<div class="container d-flex gap-3 mt-4">
    <div th:each="product:${products}"  class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title" th:text="${product.getTitle()}"></h5>
            <h6 class="card-subtitle mb-2 text-muted" th:text="${product.getInitialPrice()}"></h6>
            <p class="card-text" th:text="${product.getDescription()}"></p>
            <a class="btn btn-dark" th:href="@{detailProduct(reference=${product.getReference()})}">detail</a>
        </div>
    </div>
</div>



</body>
</html>